body {
	font-family: arial;
	font-size: 12px;
	cursor: default;
	color: #AAAAAA
}

p {
	color: #AAAAAA
}
a {
	color:#FFBA27;
	text-decoration:none;
	font-size:11px
}
a:hover {
	color:#FFBA27;
	text-decoration:underline
}
hr {
	color:#FFD137;
}

input {
	border-width:1;
	font-family:arial;
	font-size:12px;
	padding:2px;
	height:21px;
	border-color:#CCCCCC;
	border-style:solid;
	background-color:#F9F9F9;
	color:#999999
}

select {
	border-width:1;
	font-family:arial;
	font-size:12px;
	padding:2px;
	height:30px;
	border-color:#CCCCCC;
	border-style:solid;
	background-color:#F9F9F9;
	color:#999999
}

th {
	background-color: #F9F9F9; 
	color:#FFBA27;
	font-size:15px
}

.title {
	font-size:28px;
	color:#FFBA27;
}

.subtitle {
	font-size:20px;
	color:#CCCCCC;
}

.totals {
	font-weight: bold;
}	

tr.expense-row td {
	padding: 0.5em;
}

tr.expense-row td.expense-cell-bancomat,
tr.expense-row td.expense-cell-ufficio {
	text-align: center;
}

tr.expense-row td.expense-cell-amount,
tr.totals td.total-amount {
	text-align: right;
	padding-right: 1em;
}

#navigation-links {
	padding: 0.5em;
	margin: 1em;
}

img {
	border: 0;
}

.left {
  float:left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

#add_expenses_title {
  font-size:28px;
  color: #FFBA27
}

#add_expenses_subtitle {
  font-size:20px;
  color:#CCCCCC
}

#tabs {
  margin: 2em 0;
}