development:
  adapter: postgresql
  encoding: unicode
  database: monhey_development
  pool: 5
  username: metalelf0
  password:

test: &TEST
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000
