- categories = options_for_select(Category.all.map { |category| [category.name, category.id ] }, 0 )
- date = Date.today

= render :partial => 'layouts/header', :locals => {:title => "Add expenses", :subtitle => "...as many as you want!" }

= form_tag :action => :create_many, :controller => :expenses do

  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Amount
        %th Description
        %th Category

    %tbody
      - (1..10).each  do |i|
        %tr   
          = render :partial => 'form_many_row', :locals => {:i => i, :date => date, :categories => categories }

    %tfoot
      %tr.form-actions
        %td= submit_tag "Save", :class => 'btn btn-primary'
