<script type="text/javascript">
	$(function() {
		$(".datepicker").datepicker();
	});
	</script>

<% categories = options_for_select(Category.all.map { |category| [category.name, category.id ] }, 0 ) %>
<% accounts = options_for_select(Account.all.map { |account| [account.name, account.id ] }, 0 ) %>
<% date = Date.today %>
<span style="font-size:28px;color:#FFBA27">
	Add expenses
</span><br/>
<span style="font-size:20px;color:#CCCCCC">
	...as many as you want!     
</span>

<% form_tag( { :action => :create_many,
	:controller => :expenses
	} ) do %>

	<table>

		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>Buoni</th>
			<th>Description</th>
			<th>Category</th>
			<th>Account</th>
			<th>Ufficio</th>
		</tr>

		<% for i in 1..10 do %>

			<tr class="<%= "insert_" + cycle("rowA", "rowB") %>">

				<%= render :partial => 'form_many_row', :locals => {:i => i, :date => date, :categories => categories, :accounts => accounts } %>

			</tr>

		<%end %>

		<tr class="<%= cycle("rowA", "rowB") %>">
			<td><%= submit_tag "Save" %></td>
		</tr>

	</table>

<% end %>
