.row
  .col-lg-8

    #tabs
      %ul{:class => "nav nav-tabs"}
        %li.active
          %a(href="#tabs-1") Daily chart
        %li
          %a(href="#tabs-2") Categories chart


      #infoTabs.tab-content
        #tabs-1.tab-pane.fade.in.active
          %img{:src => @expenses_daily_chart.url }
        #tabs-2.tab-pane.fade
          = render_chart @categories_pie_chart.chart, 'tabs-3'

  .col-lg-4
    = render :partial => 'tag_cloud'
