.grid_8
  - unless movements.empty?
    
    = render :partial => 'layouts/header', :locals => {:title => "#{movement_name.pluralize}", :subtitle => "for this month" }
    %table

      %tr
        %th Description
        %th Amount
        %th Category
        %th Account
        %th Date

      - movements.each do |expense|
        - html_row_class=cycle('odd','even')
        = render :partial => 'expense_row', :locals => {:expense => expense, :html_row_class => html_row_class }

      %tr.totals
        %td
          %td.total-amount
            = currency_euro movements.inject(0) { |total, e| total + e.amount }
          %td
          %td
          %td
  - else
    %span No expenses found for current month :)
