%div#tag_cloud

  = link_to_unless_current "No filter", :action => :index, :date => @date 
  &nbsp;&nbsp;
  
  - @categories_cloud_chart.data_hash.each do |category_name, category_data|
    =  link_to_unless_current content_tag('span', category_name, :title => category_data[:amount], :style => category_data[:style]), :action => :index, :date => @date, :category_name => category_name


