<table width="140" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3" height="1" bgcolor="AAAAAA"></td>
	</tr>
	<tr>
		<td width="1" bgcolor="AAAAAA" rowspan="5"></td>
		<td width="138" height="26" bgcolor="F9F9F9" style="color:FFBA27;font-size:14px">
			&nbsp;&nbsp;<%=h title %>     
		</td>
		<td width="1" bgcolor="AAAAAA" rowspan="5">
		</td>
	</tr>
	<tr>
		<td height="1" bgcolor="AAAAAA"></td>
	</tr>
	<tr>
		<td bgcolor="FFFFFF">
			<table width="138" border="0" cellpadding="7" cellspacing="0">
				<tr>
					<td style="color:AAAAAA">
						<%=h content %>       
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="1" bgcolor="AAAAAA"></td>
	</tr>
</table>