%table.table
  %tbody
    %tr 
      %td Total for this month
      %td= currency_euro(total)
    %tr 
      %td Daily average
      %td= currency_euro(average)
    %tr 
      %td Prevision for this month
      %td= currency_euro(prevision)
    %tr 
      %td Left for this month, with wage
      %td= currency_euro(left)
